520Samps.csv
ASinghNotSingh.eps
DLen.eps
ASinghNotSingh.png
DLen.png
DLenScaled.eps
DLenScaled.png
scratch.py
SinghChoir.eps
SinghCHoir.png
Testing.ipynb
.vscode/launch.json
__pycache__/SinghTools.cpython-37.pyc
